<!DOCTYPE html>
<html lang="en">

<head>


    <meta charset="utf-8">
    <title>EduConnect.AI</title>

    <!-- Favicon -->
    <link href="{{ url_for('static', filename='img/favicon.ico') }}" rel="icon">
    <link href="{{ url_for('static', filename='img/nn.png') }}" rel="icon">
    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Ubuntu:wght@500;700&display=swap"
        rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">


    <!-- Libraries Stylesheet -->
    <link href="{{ url_for('static', filename='lib/animate/animate.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='lib/owlcarousel/assets/owl.carousel.min.css') }}" rel="stylesheet">



    <!-- Customized Bootstrap Stylesheet -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
</head>

<body>
    <!-- Spinner Start -->
    <div id="spinner"
        class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-grow text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <!-- Spinner End -->


    <!-- Navbar Start -->
    <div class="container-fluid sticky-top">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-dark p-0">
                <a href="/" class="navbar-brand">
                    <h1 class="text-white">EduConnect<span class="text-dark">.</span>AI</h1>
                </a>
                <button type="button" class="navbar-toggler ms-auto me-0" data-bs-toggle="collapse"
                    data-bs-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <div class="navbar-nav ms-auto">
                        <a href="/" class="nav-item nav-link active">Home</a>
                        <a href="/about" class="nav-item nav-link">About</a>
                        <!-- <a href="service.html" class="nav-item nav-link">Services</a>
                        <a href="project.html" class="nav-item nav-link">Projects</a> -->
                        <div class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Services</a>
                            <div class="dropdown-menu bg-light mt-2">
                                <a href="/signlang" class="dropdown-item">Sign Language Conversion</a>
                                <a href="/textext" class="dropdown-item">Text Extraction</a>
                                <a href="/equation" class="dropdown-item">Handwritten Equation Solver</a>
                                <a href="/textsum" class="dropdown-item">Text Summarization</a>
                            </div>
                        </div>
                        <a href="/contact" class="nav-item nav-link">Contact</a>
                    </div>
                    <butaton type="button" class="btn text-white p-0 d-none d-lg-block" data-bs-toggle="modal"
                        data-bs-target="#searchModal"><i class="fa fa-search"></i></butaton>
                </div>
            </nav>
        </div>
    </div>
    <!-- Navbar End -->


    <!-- Hero Start -->
    <div class="container-fluid pt-5 bg-primary hero-header mb-5">
        <div class="container pt-5">
            <div class="row g-5 pt-5">
                <div class="col-lg-6 align-self-center text-center text-lg-start mb-lg-5">
                    <div class="btn btn-sm border rounded-pill text-white px-3 mb-3 animated slideInRight">EduConnect.AI
                    </div>
                    <h1 class="display-4 text-white mb-4 animated slideInRight">Artificial Intelligence for Education
                    </h1>
                    <p class="text-white mb-4 animated slideInRight"><b>Empowering Every Learner:</b> An Inclusive AI
                        Platform Transforming Education Through Automation and Accessibility</p>
                    <a href="/contact" class="btn btn-outline-light py-sm-2 px-sm-4 rounded-pill animated slideInRight"
                        style="font-size: 15px; ">Contact
                        Us</a>
                </div>
                <div class="col-lg-6 align-self-end text-center text-lg-end">
                    <img class="img-fluid ai" src="{{ url_for('static', filename='img/k.png') }}">
                </div>
            </div>
        </div>
    </div>
    <!-- Hero End -->


    <!-- Full Screen Search Start -->
    <div class="modal fade" id="searchModal" tabindex="-1">
        <div class="modal-dialog modal-fullscreen">
            <div class="modal-content" style="background: rgba(20, 24, 62, 0.7);">
                <div class="modal-header border-0">
                    <button type="button" class="btn btn-square bg-white btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
                </div>
                <div class="modal-body d-flex align-items-center justify-content-center">
                    <div class="input-group" style="max-width: 600px;">
                        <input type="text" class="form-control bg-transparent border-light p-3"
                            placeholder="Type search keyword">
                        <button class="btn btn-light px-4"><i class="bi bi-search"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Full Screen Search End -->


    <!-- About Start -->
    <div class="container-fluid py-5">
        <div class="container">
            <div class="row g-5 align-items-center">
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                    <div class="about-img">
                        <img class="img-fluid" src="{{ url_for('static', filename='img/about-img.jpg') }}">
                    </div>
                </div>
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                    <div class="btn btn-sm border rounded-pill text-primary px-3 mb-3">About Us</div>
                    <h1 class="mb-4">Making Learning Easier for Everyone with AI</h1>
                    <p class="mb-4">Our AI platform is designed to help all students, including those with disabilities,
                        by automating tasks and making education more accessible. We simplify learning, so students can
                        spend more time focusing on their studies and less on the busywork.</p>
                    <p class="mb-4">Our goal is to empower every learner, making education seamless and inclusive for
                        all.</p>
                    <div class="row g-3">
                        <div class="col-sm-6">
                            <h6 class="mb-3"><i class="fa fa-check text-primary me-2"></i>Easy to Use</h6>
                            <h6 class="mb-0"><i class="fa fa-check text-primary me-2"></i> Inclusive and Accessible</h6>
                        </div>
                        <div class="col-sm-6">
                            <h6 class="mb-3"><i class="fa fa-check text-primary me-2"></i>User-friendly</h6>
                            <h6 class="mb-0"><i class="fa fa-check text-primary me-2"></i>Innovative Solutions</h6>
                        </div>
                    </div>
                  
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->


    <!-- Service Start -->
    <div class="container-fluid bg-light mt-5 py-5">
        <div class="container py-5">
            <div class="row g-5 align-items-center">
                <div class="col-lg-5 wow fadeIn" data-wow-delay="0.1s">
                    <div class="btn btn-sm border rounded-pill text-primary px-3 mb-3">Our Services</div>
                    <h1 class="mb-4">Revolutionizing Education with Smart Services</h1>
                    <p class="mb-4">Our platform offers a range of innovative AI-driven services designed to enhance
                        accessibility and simplify learning for all students, regradless those with disabilities. By
                        addressing key educational challenges, we empower learners to focus on their studies and achieve
                        better academic outcomes.</p>
                    <a class="btn btn-primary rounded-pill px-4" href="/signlang">Read More</a>
                </div>
                <div class="col-lg-7">
                    <div class="row g-4">
                        <div class="col-md-6">
                            <div class="row g-4">
                                <div class="col-12 wow fadeIn" data-wow-delay="0.1s">
                                    <div
                                        class="service-item d-flex flex-column justify-content-center text-center rounded">
                                        <div class="service-icon btn-square">

                                            <img class="img-fluid"
                                                src="{{ url_for('static', filename='gif/ext.gif ') }}" alt=""
                                                width="60px">
                                        </div>
                                        <h5 class="mb-3">Text Extraction</h5>
                                        <p>Allows users to extract and converting text from images and PDFs into
                                            editable and searchable digital text.</p>
                                        <a class="btn px-3 mt-auto mx-auto" href="/textext">Try it</a>
                                    </div>
                                </div>
                                <div class="col-12 wow fadeIn" data-wow-delay="0.5s">
                                    <div
                                        class="service-item d-flex flex-column justify-content-center text-center rounded">
                                        <div class="service-icon btn-square">
                                            <img class="img-fluid"
                                                src="{{ url_for('static', filename='gif/maths.gif ') }}" alt=""
                                                width="60px">

                                        </div>
                                        <h5 class="mb-3">Handwritten Equation Solver</h5>
                                        <p>Quickly turn handwritten math equations into digital text, solve complex
                                            problems effortlessly, and avoid errors.</p>
                                        <a class="btn px-3 mt-auto mx-auto" href="/equation">Try it</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 pt-md-4">
                            <div class="row g-4">
                                <div class="col-12 wow fadeIn" data-wow-delay="0.3s">
                                    <div
                                        class="service-item d-flex flex-column justify-content-center text-center rounded">
                                        <div class="service-icon btn-square">
                                            <img class="img-fluid"
                                                src="{{ url_for('static', filename='gif/sign.gif ') }}" alt=""
                                                width="60px">
                                        </div>
                                        <h5 class="mb-3">Sign Language to Text Conversion</h5>
                                        <p> Translates sign language gestures into written text in real-time, enabling
                                            effective communication for those who use sign language.</p>
                                        <a class="btn px-3 mt-auto mx-auto" href="/signlang">Try it</a>
                                    </div>
                                </div>
                                <div class="col-12 wow fadeIn" data-wow-delay="0.7s">
                                    <div
                                        class="service-item d-flex flex-column justify-content-center text-center rounded">
                                        <div class="service-icon btn-square">
                                            <img class="img-fluid"
                                                src="{{ url_for('static', filename='gif/sum.gif ') }}" alt=""
                                                width="60px">
                                        </div>
                                        <h5 class="mb-3">Text Summarization</h5>
                                        <p>Allows user to convert long passages of text into concise summaries. This
                                            service saves time by highlighting the most important points, making it
                                            easier to review and comprehend large amounts of information.</p>
                                        <a class="btn px-3 mt-auto mx-auto" href="/textsum">Try it</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Service End -->


    <!-- Feature Start -->
    <div class="container-fluid bg-primary feature pt-5">
        <div class="container pt-5">
            <div class="row g-5">
                <div class="col-lg-6 align-self-center mb-md-5 pb-md-5 wow fadeIn" data-wow-delay="0.3s">
                    <div class="btn btn-sm border rounded-pill text-white px-3 mb-3"><b>WHO AND HOW WE HELP</b></div>
                    <h1 class="text-white mb-4">Revolutionizing Education with Cutting-Edge AI Solutions</h1>
                    <p class="text-light mb-4">Our platform is designed to support a wide range of users, making
                        education and communication more accessible for everyone.</p>
                    <div class="d-flex align-items-center text-white mb-3">
                        <div class="btn-sm-square bg-white text-primary rounded-circle me-3">
                            <i class="fa fa-check"></i>
                        </div>
                        <span><b>Students </b>:- Easily solve equations,extract notes and summarize texts.</span>
                    </div>
                    <div class="d-flex align-items-center text-white mb-3">
                        <div class="btn-sm-square bg-white text-primary rounded-circle me-3">
                            <i class="fa fa-check"></i>
                        </div>
                        <span><b>Educators</b> :-Streamline teaching with text extraction and sign language
                            translation.</span>
                    </div>
                    <div class="d-flex align-items-center text-white mb-3">
                        <div class="btn-sm-square bg-white text-primary rounded-circle me-3">
                            <i class="fa fa-check"></i>
                        </div>
                        <span><b>Professionals</b> :-Boost efficiency with quick text extraction and
                            summarization.</span>
                    </div>
                    <div class="d-flex align-items-center text-white mb-3">
                        <div class="btn-sm-square bg-white text-primary rounded-circle me-3">
                            <i class="fa fa-check"></i>
                        </div>
                        <span> <b>Individuals with Disabilities</b> :-Access and communicate with inclusive AI
                            tools.</span>
                    </div>
                    <!-- <div class="row g-4 pt-3">
                        <div class="col-sm-6">
                            <div class="d-flex rounded p-3" style="background: rgba(256, 256, 256, 0.1);">
                                <i class="fa fa-users fa-3x text-white"></i>
                                <div class="ms-3">
                                    <h2 class="text-white mb-0" data-toggle="counter-up">9999</h2>
                                    <p class="text-white mb-0">Happy Clients</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="d-flex rounded p-3" style="background: rgba(256, 256, 256, 0.1);">
                                <i class="fa fa-check fa-3x text-white"></i>
                                <div class="ms-3">
                                    <h2 class="text-white mb-0" data-toggle="counter-up">9999</h2>
                                    <p class="text-white mb-0">Project Complete</p>
                                </div>
                            </div>
                        </div>
                    </div> -->
                </div>
                <div class="col-lg-6 align-self-end text-center text-md-end wow fadeIn" data-wow-delay="0.5s">
                    <img class="img-fluid" src="{{ url_for('static', filename='img/feature.png ') }}" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Feature End -->


    <!-- Case Start -->
    <div class="container-fluid bg-light py-5">
        <div class="container py-5">
            <div class="mx-auto text-center wow fadeIn" data-wow-delay="0.1s" style="max-width: 500px;">
                <div class="btn btn-sm border rounded-pill text-primary px-3 mb-3">Technologies Used</div>
                <h1 class="mb-4">Explore the Technologies Behind Our Solutions</h1>
            </div>
            <div class="row g-4">

                <div class="col-lg-4 wow fadeIn" data-wow-delay="0.5s">
                    <div class="case-item position-relative overflow-hidden rounded mb-2">
                        <img class="img-fluid" src="{{ url_for('static', filename='img/project-2.jpg') }}" alt="">

                        <a class="case-overlay text-decoration-none" href="https://en.wikipedia.org/wiki/Deep_learning"
                            target="_blank">
                            <small>Deep learning</small>
                            <h5 class="lh-base text-white mb-3">It is a subset of machine learning that uses neural
                                networks to make complex predictions and decisions.
                            </h5>
                            <span class="btn btn-square btn-primary"><i class="fa fa-arrow-right"></i></span>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 wow fadeIn" data-wow-delay="0.7s">
                    <div class="case-item position-relative overflow-hidden rounded mb-2">
                        <img class="img-fluid" src="{{ url_for('static', filename='img/project-3.jpg') }}" alt="">
                        <a class="case-overlay text-decoration-none"
                            href="https://en.wikipedia.org/wiki/Generative_artificial_intelligence" target="_blank">
                            <small>Generative AI</small>
                            <h5 class="lh-base text-white mb-3">Creates new content by learning from existing data, like
                                generating text, images, or music.
                            </h5>
                            <!-- <span class="btn btn-square btn-primary"><i class="fa fa-arrow-right"></i></span> -->
                            <span class="btn btn-square btn-primary">
                                <i class="fa fa-arrow-right"></i>
                        </a>
                        </span>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 wow fadeIn" data-wow-delay="0.3s">
                    <div class="case-item position-relative overflow-hidden rounded mb-2">


                        <img class="img-fluid" src="{{ url_for('static', filename='img/project-1.jpg') }}" alt="">

                        <a class="case-overlay text-decoration-none"
                            href="https://en.wikipedia.org/wiki/Natural_language_processing" target="_blank">
                            <small>NLP</small>
                            <h5 class="lh-base text-white mb-3">Natural Language Processing enables computers to
                                understand, interpret, and generate human language.
                            </h5>
                            <span class="btn btn-square btn-primary"><i class="fa fa-arrow-right"></i></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Case End -->

    <!-- Team Start -->
    <div class="container-fluid bg-light py-5">
        <div class="container py-5">
            <div class="row g-5 align-items-center">
                <div class="col-lg-5 wow fadeIn" data-wow-delay="0.1s">
                    <div class="btn btn-sm border rounded-pill text-primary px-3 mb-3">Our Team</div>
                    <h1 class="mb-4">Our Team Members</h1>
                    <p class="mb-4">
                        Our team is a group of passionate people focused on improving education with innovative AI
                        tools. Each member brings unique skills, all united by a commitment to making learning
                        accessible and inclusive for everyone.</p>
                    <!-- <a class="btn btn-primary rounded-pill px-4" href="">Read More</a> -->
                </div>
                <div class="col-lg-7">
                    <div class="row g-4">
                        <div class="col-md-6">
                            <div class="row g-4">
                                <div class="col-12 wow fadeIn" data-wow-delay="0.1s">
                                    <div class="team-item bg-white text-center rounded p-4 pt-0">
                                        <img class="img-fluid rounded-circle p-4"
                                            src="{{ url_for('static', filename='img/team-1.jpg') }}" alt="">

                                        <h5 class="mb-0">Shubhangi vyas</h5>
                                        <small>Team Leader</small>
                                        <div class="d-flex justify-content-center mt-3">
                                            <a class="btn btn-square btn-primary m-1" href=""><i
                                                    class="fab fa-github"></i></a>

                                            <a class="btn btn-square btn-primary m-1" href=""><i
                                                    class="fab fa-linkedin-in"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 wow fadeIn" data-wow-delay="0.5s">
                                    <div class="team-item bg-white text-center rounded p-4 pt-0">
                                        <img class="img-fluid rounded-circle p-4"
                                            src="{{ url_for('static', filename='img/team-1.jpg') }}" alt="">

                                        <h5 class="mb-0">Suvrat verma</h5>
                                        <small>Team Memeber</small>
                                        <div class="d-flex justify-content-center mt-3">
                                            <a class="btn btn-square btn-primary m-1" href="https://github.com/iamsuvratverma" target="_blank"><i
                                                    class="fab fa-github"></i></a>

                                            <a class="btn btn-square btn-primary m-1" href="https://www.linkedin.com/in/suvratverma/" target="_blank"><i
                                                    class="fab fa-linkedin-in"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 pt-md-2">
                            <div class="row g-4">
                                <div class="col-12 wow fadeIn" data-wow-delay="0.3s">
                                    <div class="team-item bg-white text-center rounded margin pt-4">
                                        <img class="img-fluid rounded-circle p-4"
                                            src="{{ url_for('static', filename='img/team-3.jpg') }}" alt="">

                                        <h5 class="mb-0">Himanshu singh patel </h5>
                                        <small>Team Member</small>
                                        <div class="d-flex justify-content-center mt-3 mb-3">
                                            <a class="btn btn-square btn-primary m-1" href="https://github.com/Iamhimanshusinghpatel" target="_blank"><i
                                                    class="fab fa-github"></i></a>

                                            <a class="btn btn-square btn-primary m-1" href="https://www.linkedin.com/in/himanshu-singh-patel-9878a5284/" target="_blank"><i
                                                    class="fab fa-linkedin-in"></i></a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- Team End -->


    <!-- Testimonial Start -->
    <div class="container-xxl py-5">
        <div class="container py-5">
            <div class="row g-5">
                <div class="col-lg-5 wow fadeIn" data-wow-delay="0.1s">
                    <div class="btn btn-sm border rounded-pill text-primary px-3 mb-3">Testimonial</div>
                    <h1 class="mb-4">We test all !</h1>
                    <p class="mb-4">Tempor erat elitr rebum at clita. Diam dolor diam ipsum et tempor sit. Aliqu diam
                        amet diam et eos labore. Clita erat ipsum et lorem et sit, sed stet no labore lorem sit. Sanctus
                        clita duo justo et tempor eirmod magna dolore erat amet</p>
                </div>
                <div class="col-lg-7 wow fadeIn" data-wow-delay="0.5s">
                    <div class="owl-carousel testimonial-carousel border-start border-primary">
                        <div class="testimonial-item ps-5">
                            <img class="img-fluid flex-shrink-0 " src="{{ url_for('static', filename='img/sign.png') }}">
                            <div class="d-flex align-items-center">
                                <div class="p">
                                    <h5 class="mt-3">Sign Language</h5>
                                    <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam, eius quis nobis non aut explicabo sequi dolore pariatur dolores exercitationem, laboriosam, voluptates voluptate? Debitis iusto eum ipsa quaerat voluptas? At.</span>
                                </div>
                            </div>
                        </div>
                        <div class="testimonial-item ps-5">
                            <img class="img-fluid flex-shrink-0" src="{{ url_for('static', filename='img/handw.png') }}" style="height: 290px;" >
                            <div class="d-flex align-items-center">
                                <div class="p">
                                    <h5 class="mt-3">Handwritten-Text</h5>
                                    <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam, eius quis nobis non aut explicabo sequi dolore pariatur dolores exercitationem, laboriosam, voluptates voluptate? Debitis iusto eum ipsa quaerat voluptas? At.</span>
                                </div>
                            </div>
                        </div>

                        <div class="testimonial-item ps-5">
                            <img class="img-fluid flex-shrink-0 " src="{{ url_for('static', filename='img/cmpt.png') }}">
                            <div class="p">
                                <h5 class="mt-3">Computarized_text </h5>
                                <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam, eius quis nobis non aut explicabo sequi dolore pariatur dolores exercitationem, laboriosam, voluptates voluptate? Debitis iusto eum ipsa quaerat voluptas? At.</span>
                            </div>
                        </div>

                        <div class="testimonial-item ps-5">
                            <img class="img-fluid flex-shrink-0" src="{{ url_for('static', filename='img/eqs.png') }}"style="height: 290px;">
                            <div class="p">
                                <h5 class="mt-3">Equation_splver </h5>
                                <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam, eius quis nobis non aut explicabo sequi dolore pariatur dolores exercitationem, laboriosam, voluptates voluptate? Debitis iusto eum ipsa quaerat voluptas? At.</span>
                            </div>
                        </div>

                        <div class="testimonial-item ps-5">
                            <img class="img-fluid flex-shrink-0" src="{{ url_for('static', filename='img/txtsum.png') }}">
                            <div class="p">
                                <h5 class="mt-3">Text_Summarizer </h5>
                                <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam, eius quis nobis non aut explicabo sequi dolore pariatur dolores exercitationem, laboriosam, voluptates voluptate? Debitis iusto eum ipsa quaerat voluptas? At.</span>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Testimonial End -->


    <!-- Newsletter Start -->
    <!-- <div class="container-fluid bg-primary newsletter py-5">
        <div class="container">
            <div class="row g-5 align-items-center">
                <div class="col-md-5 ps-lg-0 pt-5 pt-md-0 text-start wow fadeIn" data-wow-delay="0.3s">
                    <img class="img-fluid" src="img/newsletter.png" alt="">
                </div>
                <div class="col-md-7 py-5 newsletter-text wow fadeIn" data-wow-delay="0.5s">
                    <div class="btn btn-sm border rounded-pill text-white px-3 mb-3">Newsletter</div>
                    <h1 class="text-white mb-4">Let's subscribe the newsletter</h1>
                    <div class="position-relative w-100 mt-3 mb-2">
                        <input class="form-control border-0 rounded-pill w-100 ps-4 pe-5" type="text"
                            placeholder="Enter Your Email" style="height: 48px;">
                        <button type="button" class="btn shadow-none position-absolute top-0 end-0 mt-1 me-2"><i
                                class="fa fa-paper-plane text-primary fs-4"></i></button>
                    </div>
                    <small class="text-white-50">Diam sed sed dolor stet amet eirmod</small>
                </div>
            </div>
        </div>
    </div> -->
    <!-- Newsletter End -->


    <!-- Footer Start -->
    <div class="container-fluid bg-dark text-white-50 footer pt-5">
        <div class="container py-5">
            <div class="row g-5">
                <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.1s">
                    <a href="index.html" class="d-inline-block mb-3">
                        <h1 class="text-white">EduConnect<span class="text-primary">.</span>AI</h1>
                    </a>
                    <p class="mb-0">AI platform is designed to help all students, including those with disabilities, by
                        automating tasks and making education more accessible.</p>
                </div>
                <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.3s">
                    <h5 class="text-white mb-4">Get In Touch</h5>
                    <p><i class="fa fa-map-marker-alt me-3"></i>Nsti Jodhpur,Rajasthan</p>
                    <p><i class="fa fa-phone-alt me-3"></i>+916393596233</p>
                    <p><i class="fa fa-envelope me-3"></i>educonnect@gmail.com</p>
                    <div class="d-flex pt-2">
                        <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.5s">
                    <h5 class="text-white mb-4">Popular Link</h5>
                    <a class="btn btn-link" href="">About Us</a>
                    <a class="btn btn-link" href="">Contact Us</a>
                    <a class="btn btn-link" href="">Services</a>
                </div>
                <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.7s">
                    <h5 class="text-white mb-4">Our Services</h5>
                    <a class="btn btn-link" href="">Sign Language to Text Conversion</a>
                    <a class="btn btn-link" href="">Handwritten Equation Solver</a>
                    <a class="btn btn-link" href="">Text Summarization</a>
                    <a class="btn btn-link" href="">Text Extraction</a>
                </div>
            </div>
        </div>
        <div class="container wow fadeIn" data-wow-delay="0.1s">
            <div class="copyright">
                <div class="row">
                    <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                        &copy; <a class="border-bottom" href="#">EduConnect.AI</a>, All Right Reserved.
                    </div>
                    <div class="col-md-6 text-center text-md-end">
                        <div class="footer-menu">
                            <a href="/">Home</a>
                            <a href="/about">About</a>
                            <a href="/contact">Help</a>
                            <!-- <a href="">FAQs</a> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->


    <!-- Back to Top -->
    <a href="/" class="btn btn-lg btn-primary btn-lg-square back-to-top pt-2"><i class="bi bi-arrow-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{{ url_for('static', filename='lib/wow/wow.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/easing/easing.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/waypoints/waypoints.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/counterup/counterup.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/owlcarousel/owl.carousel.min.js') }}"></script>

    <!-- Template Javascript -->
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>

</body>

</html>